button {
    margin-left : 40px;
}

* {
    font-family : Calibri;
}

.mat-dialog-title {
    text-align : center ;
    font-weight: bold;
}

button#customBtn1 {
    margin-left : 70px;
}

button#customBtn {
    margin-left : 90px;
}
