<mat-toolbar >  
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="filter">Filters</span>
      <span class="fill-remaining-space"></span>
      <span>HR Portal Archive</span>
      <span class="fill-remaining-space"></span>
  </mat-toolbar>
  

  <mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" opened role="navigation">
      <mat-nav-list>
          
        <div class="form-group ">
            <label for="ticketid" class="control-label">Ticket ID</label>
            <select id="ticketid" class="form-control">
              <option value="">Ticket</option>
              <option *ngFor="let reason of (reasonforRequest$ | async )">{{reason}}</option>
            </select>
        </div> 

        <div class="form-group">
                <label for="ticketid" class="control-label">User ID</label>
                <select id="ticketid" class="form-control">
                  <option value=""></option>
                  <option *ngFor="let reason of (reasonforRequest$ | async )">{{reason}}</option>
                </select>
        </div>

        <div class="form-group ">
                <label for="ticketid" class="control-label">User Name</label>
                <select id="ticketid" class="form-control">
                  <option value=""></option>
                  <option *ngFor="let reason of (reasonforRequest$ | async )">{{reason}}</option>
                </select>
        </div>

        
        <div class="form-group ">
                <label for="ticketid" class="control-label">Population</label>
                <select id="ticketid" class="form-control">
                  <option value=""></option>
                  <option *ngFor="let reason of (reasonforRequest$ | async )">{{reason}}</option>
                </select>
        </div> 

        <div class="form-group ">
                <label for="ticketid" class="control-label">Category</label>
                <select id="ticketid" class="form-control">
                  <option value=""></option>
                  <option *ngFor="let reason of (reasonforRequest$ | async )">{{reason}}</option>
                </select>
        </div>

        <div class="form-group ">
                <label for="ticketid" class="control-label">Sub Category</label>
                <select id="ticketid" class="form-control">
                  <option value=""></option>
                  <option *ngFor="let reason of (reasonforRequest$ | async )">{{reason}}</option>
                </select>
        </div>
  
        <div class="form-group ">
                <label for="ticketid" class="control-label">Assigned To</label>
                <select id="ticketid" class="form-control">
                  <option value=""></option>
                  <option *ngFor="let reason of (reasonforRequest$ | async )">{{reason}}</option>
                </select>
        </div> 

        <div class="form-group ">
                <label for="ticketid" class="control-label">Service Group</label>
                
                <select id="ticketid" class="form-control">
                  <option value=""></option>
                  <option *ngFor="let reason of (reasonforRequest$ | async )">{{reason}}</option>
                </select>
        </div> 

        <div class="form-group ">
            <label class="control-label">Created Start Date</label>
                <input matInput [matDatepicker]="picker1"  [(ngModel)]="inputStartDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
        </div>
              
        <div class="form-group ">
                <label class="control-label">Created End Date</label>
                <input matInput [matDatepicker]="picker2" [(ngModel)]="inputEndDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker>
        </div>

        <div class="form-group ">
                <label class="control-label">Closed Start Date</label>
                    <input matInput [matDatepicker]="picker3"  [(ngModel)]="inputStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3 [startAt]="startDate"></mat-datepicker>
        </div>
        
        <div class="form-group ">
                <label class="control-label">Closed End Date</label>
                    <input matInput [matDatepicker]="picker4"  [(ngModel)]="inputStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4 [startAt]="startDate"></mat-datepicker>
        </div>

       
        
        <div class="form-group btn-toolbar">
                    
         <button class="btn btn-success" type="button" (click)="drawer.toggle()">Search</button>
                    
        </div>
        

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Side Bar Content !!! -->
      <mat-table  class="mat-elevation-z8" [dataSource] = "dataSource" matSort>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
              <mat-cell *matCellDef = "let user">{{user.name}}</mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef mat-sort-header>User Name</mat-header-cell>
                <mat-cell *matCellDef = "let user">{{user.username}}</mat-cell>
            </ng-container> 
          
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                <mat-cell *matCellDef = "let user">{{user.email}}</mat-cell>
              </ng-container> 
          
              <ng-container matColumnDef="street">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Street</mat-header-cell>
                  <mat-cell *matCellDef = "let user">{{user.address.street}}</mat-cell>
                </ng-container>
          
                <ng-container matColumnDef="suite">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Suite</mat-header-cell>
                    <mat-cell *matCellDef = "let user">{{user.address.suite}}</mat-cell>
                  </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef ="let row ;columns : displayedColumns;"></mat-row>
          </mat-table>
          
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </mat-sidenav-content>
  </mat-sidenav-container>