div {   
    margin-top : 80px; 
    margin-left : auto;
    margin-right : auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
    height : 400px;
    font-family : sans-serif;
    font-weight: bold;
    font-size : 20px
}