div.container {
    /* margin-left      : 30px; */
    margin-right: auto;
    margin-left: auto;

    background-color : #EBF5FB;
}

div.row {
   
    margin-left : 30px;
    margin-right: 30px;
    
}

label#labelcolor {
    color : #1a8cff;
    font-size: 17px;
    
}

div.maindiv {
    margin-top : 40px;
}

input {
    background-color : #F4F6F7;
    
}

#formgroup {
    width : 25%;
    height : 64px;
    background-color : #fff;
    border: none !important;
}

textarea#formgroup1 {
    width : 50%;
    border: none !important;
    padding-top : 18px;
}

#formgroup2 {
    width : 24%;
    height : 64px;
    background-color : #fff;
    border: none !important;
}

/* .mat-column-type {
    flex: 0 0 199px;
}

.mat-column-details {
    flex: 0 0 688px;
} */

.mat-cell, .mat-header-cell {
     overflow: hidden; 
     text-overflow: ellipsis; 
     word-break: break-word; 
    }


    div.btn-toolbar {
        display: flex;
        align-items: center;
        justify-content: center;
    }